#Django<2.3,>=2.2
Django~=2.2
Pillow
django-filter
djangorestframework
drf-extra-fields
djoser
reportlab
reportlab-stubs
gunicorn
psycopg2-binary
python-dotenv
pytest
pytest-cov
pytest-django
django-stubs
djangorestframework-stubs
flake8
#flake8-annotations
flake8-broken-line
#flake8-docstrings
flake8-return
flake8-isort
